.main_container{
  /* border: 10px solid red; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  /* border: 1px solid red; */
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1{
  text-align:center;
  /* color: aqua; */
}
 button{
   margin-top: 35px;
   width: 9rem;
   height: 3rem;
 }